
*.md~

build-Debug/\.ninja_deps

build-Debug/\.ninja_log

build-Debug/build\.ninja

build-Debug/cmake_install\.cmake

build-Debug/CMakeCache\.txt

build-Debug/extract-debug-infos-from-dir\.sh

build-Debug/extract-debug-infos-from-tree\.sh

build-Debug/extract-debug-infos\.sh

build-Debug/install_manifest\.txt

build-Debug/rules\.ninja

build-Debug/CMakeFiles/3\.10\.2/

build-Debug/CMakeFiles/

CMakeFiles/3\.10\.2/

CMakeFiles/

cmake_install\.cmake

CMakeCache\.txt

extract-debug-infos-from-dir\.sh

extract-debug-infos-from-tree\.sh

extract-debug-infos\.sh

install_manifest\.txt

Makefile

*.ac#

\.#configure\.ac

config\.log

configure

autom4te\.cache/

config\.status

Makefile\.in
